@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
.container {
    margin: 0 auto;
    max-width: 90%;
    width: 540px;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
/* Generiche */
body {
    padding: 1rem;
    font-family: Inter, sans-serif;
    background-color: #4789C7;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.made-by {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.made-by a {
  text-decoration: none;
  padding: .5em;
  color: #162635;
}
.made-by:hover{
  animation: jelly .5s;
}

/* Pannello */
.panel {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #162635;
}


.logo  {
    max-width: 25%;
    max-height: 25%;
    width: auto;
    height: auto;
}

.review{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review a {
  display: flex;
  justify-content: center;
  padding: .5em;
  opacity: .5;
  transition: opacity .25s
}

.review a svg{
  max-width: 15%;
  max-height: 15%;
  width: auto;
  height: auto;
  margin: 0 .5em;
  fill:  #162635
}

.review a:hover{
  opacity: 1;
  animation: jelly .5s;
}

.button-note img {
	max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
}

/* Elementi del modulo aggiungi attività */
.add-todo {
    display: flex;
    gap: 0.2rem;
    margin-top: 0.5rem;
}

input, .input-esercizio , .input-dialog {
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    flex-grow: 1;
}


.button-note, .button-delete, .button-function,
.dropdown-peso, .dropdown-serie, .dropdown-ripetizioni, 
.button-serie, .button-ripetizioni ,.cancel-btn,.select-btn,.ok-btn,.save-btn,.send-btn{
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    font-family: Inter, sans-serif;
    border-radius: 0.5rem;
    background-color: #E68745;
    font-size: 0.875rem;
}
.button-note:hover, .button-delete:hover, .button-function:hover,
.dropdown-peso:hover, .dropdown-serie:hover, .dropdown-ripetizioni:hover, 
.button-serie:hover, .button-ripetizioni:hover{
    animation: jelly .5s;
}

 .dropdown-serie, .dropdown-ripetizioni {
    width: 50px;
    min-width: 50px;
    height: auto;
}

.dropdown-peso{
	width:100px;
    height: auto;
}


/* Messaggio di lista vuota */
.empty-list-message {
    text-align: center;
    font-weight: bold;
    font-size: 0.875rem;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #162635;
}

.todo-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

.todo-text {
    padding: 0.5rem;
    flex-grow: 1;
    word-break: break-word;
}

.todo-check, .todo-modify, .todo-save {
    cursor: pointer;
    padding: 0.5rem;
    background-color: #E68745;
  
}

.todo-check {
    border-radius: 0.5rem 0 0 0.5rem;
}

.todo-save {
    border-radius: 0 0.5rem 0.5rem 0;
}


.todo-save:hover,.todo-modify:hover ,.todo-check:hover{
    animation:jelly .5s
  }

  


/*Dialog */
.preset-dialog{
    background-color: #162635;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    max-width: 90%;
  }
  
  .preset-dialog h2 {
    margin-top: 0;
    font-family: Inter, sans-serif;
    color: rgb(255, 255, 255);
  }
  
  .preset-list {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    font-family: Inter, sans-serif;
    color: rgb(255, 255, 255);
  }

  
  .preset-list li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .preset-list li:hover {
    background-color: #E68745;
  }
  .preset-list li.selected {
    background-color: #E68745;
  }
  

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  
  .dialog-actions button {
    margin-left: 8px;
  }

  .dialog-actions-exip {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
  }
  
  .dialog-actions button {
    margin-left: 4px;
  }


/* Dialog Chat*/
  .chat-dialog {
    background-color: #162635;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    max-width: 90%;
  }
  
  .chat-dialog h2 {
    margin-top: 0;
    font-family: Inter, sans-serif;
    color: rgb(255, 255, 255);
  }
  
  .chat-log {
    /* Style for chat messages */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .chat-log p {
    margin: 5px 0;
    color: #fff;
  }
  
  #chat-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .dialog-actions button {
    margin-left: 8px;
    background-color: #E68745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .dialog-actions-exip button {
    margin-left: 4px;
    background-color: #E68745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dialog-actions button:hover {
    animation: jelly .5s;
  }
  
  .dialog-actions-exip button:hover {
    animation: jelly .5s;
  }
  /* Style for chat message from user */
  .chat-log p:nth-child(even) {
    text-align: right;
  }
  
  /* Style for chat message from bot */
  .chat-log p:nth-child(odd) {
    text-align: left;
  }
  


/* Media Queries per responsive */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }

    .add-todo {
		flex-direction: column;
        flex-wrap: wrap;
    }

    .dropdown-peso, .dropdown-serie, .dropdown-ripetizioni {
        width: 100%;
        margin-top: 0.3rem;
    }

	.dropdown-preset{
		width: 100%;
	}

	
    .todo-item {
        flex-wrap:wrap;
    }

    .todo-text {
        width: 100%;
        order: -1;
    }

    .todo-check, .todo-modify, .todo-save {
        flex: 1;
        text-align: center;
    }
}